<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.swyper.app</string>
    <key>CFBundleName</key>
    <string>Swyper</string>
    <key>CFBundleDisplayName</key>
    <string>Swyper</string>
    <key>CFBundleExecutable</key>
    <string>Swyper</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/asmeurer/swyper/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>2XRJFDCqqc0J8mO0j26OtXc7DJrcdhEs389PPCNXegg=</string>
</dict>
</plist>
